* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: oldlace;
}

#container  {
    background-image: url(Screenshot_1.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 910px; 
}



header{
    background-color: rgb(0, 0, 0,0.4);
    padding: 5px;
    height: 80px;
}
header ul{
    display: flex;
}
header ul li {
    list-style-type: none;
    padding-top: 25px;
    margin-left: 30px;
    padding-left: 30px;
    
}
header ul li a {
    color: white;
    font-size: 1.2em;
    text-decoration: none;
}
header ul li a:hover{
    color: blueviolet;
    background-color: cadetblue;
    cursor: pointer;
}

header img{
    margin-top: 10px;
    margin-left: 20px;
    float: left;
    height: 50px;
    width: 50px;
}


main{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 610px;
    padding: 0px 200px; 
    justify-content: center;
    align-items: center;
    top: 0px;
    left: 0px; 
    overflow: auto;
    color:#5b081c;

}

main p {
    padding-top: 10px;
}


main button {
    margin-top: 50px;
    background:none;
    border: 2px solid #5b081c;
    border-radius: 25px;
    padding: 10px;
    width: 150px;
    cursor: pointer;
    color: #5b081c;
}

section h2 {
    text-align: center;
    margin: 30px;

}
#services{
    display: flex;
    justify-content: space-around;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    
}

#education,#Medical,#Clothes {
    width: 25%;
    height: 500px;
    border: 2px solid green;
    border-radius: 3%;
    padding: 20px;
    overflow: auto;
    text-align: center;
    background-color: khaki;
}

#services h3 {
    padding: 20px;
}

.logo{
    height: 50px;
    width: 50px;  
}

footer{
    text-align: center;
    padding: 2rem;
    font-size: 1.2rem;
    background-color: lemonchiffon;
}